$color_black: #303031;
$color_gray: #66645E;
$color_green: #71A894;
$color_light-gold: #F3F0EA;
$color_white: #FFFFFF;
$color_yellow: #F5C64F;
$color_bg: #FAFAFA;

$font-family_logo: "League Spartan", sans-serif;
$font-family_nav-link: "Inter", sans-serif;